<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    <meta name="keywords" content="HTML,CSS,JavaScript">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="assets/images/favicon.png" type="image/ico" />
		<title><%= title %> | Blockvest ICO</title>
		<!-- CSS -->
		<!-- Bootstrap -->
		<link href="assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<!-- Simple line icons -->
		<link href="assets/css/simple-line-icons.css" rel="stylesheet">
    <!-- Font awesome icons -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
		<!-- Custom Style -->
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/css/media.css" rel="stylesheet">
    <link href="assets/css/skin-colors/skin-blue.css" rel="stylesheet">
    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	</head>
  <body id="confirm-mail" class="nav-md all-pages data_background preloader-off"  data-background="assets/images/dasbg1.jpg">
    <div class="spacer_50"></div>
    <div class="clearfix"></div>
    <div  class="st-container st-effect">
      <div class="block-page text-center">
        <a href="#"><img src="assets/images/mail.png" alt="mail"></a>
        <h3 class="text-white text-bold">Confirm your email address!</h3>
        <p class="text-white second-p">A confirmation e-mail has been sent
        to <br><span><%= email %>.</span></p>
        <p class="text-white second-p">Check your inbox and<br>
        click on the email link to confirm<br>
        <span>your email address.</span></p>
        <p><a href="/login">Back to Login</a></p>
      </div>
      <!-- JS SCRIPTS -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrollbar.min.js"></script>
      <script src="assets/plugins/modernizr/modernizr.custom.js"></script>
      <script src="assets/plugins/classie/classie.js"></script>  
      <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
      <!-- Custom Theme Scripts -->
      <script src="assets/js/custom.min.js"></script>
      <script src="assets/js/preloader.min.js"></script>
    </div>
  </body>
</html>
