<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/images/favicon.png" type="image/ico"/>
    <title><%= title %> | Blockvest ICO</title>
    <!-- CSS -->
    <!-- Bootstrap -->
    <link href="assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Simple line icons -->
    <link href="assets/css/simple-line-icons.css" rel="stylesheet">
    <!-- Font awesome icons -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Style -->
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/css/mycss.css" rel="stylesheet">
    <link href="assets/css/media.css" rel="stylesheet">
    <link href="assets/css/skin-colors/skin-blue.css" rel="stylesheet">
    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
 
</head>
<body id="reset-password" class="nav-md all-pages data_background preloader-off"
      data-background="assets/images/dasbg1.jpg">
<div class="spacer_30"></div>
<div class="spacer_30"></div>
<div class="clearfix"></div>
<div class="st-container st-effect">
    <div class="block-page text-center">
        <a href="http://blockvestico.io/"><img src="assets/images/blockvest-logo1.png" alt="cryptic-logo"></a>
        <h3 class="text-white text-bold">Reset your Password</h3>
        <form action="/reset_password" method="POST">
            <% if(error && error.length > 0){ %>
              <div class="alert alert-danger" style="margin:0px 10px;">
                  <%= error %>
              </div>
                  <% } else if(success && success.length > 0 ){ %>
              <div class="alert alert-success" style="margin:0px 10px;">
                  <%= success %>
              </div>
            <% } %>
            <div class="input--akira">
                <span class="input input--akira">
                    <% if(locals.email){ %>
                        <input name="email" value="<%= email %>" class="input__field input__field--akira" type="email" id="input-1"/>
                    <% }else{ %>
                        <input name="email" class="input__field input__field--akira" type="email" id="input-1"/>
                    <% } %>
                    <label class="input__label input__label--akira" for="input-1">
                      <span class="input__label-content input__label-content--akira">Email</span>
                    </label>
                </span>
            </div>
            <button class="btn btn-white margin-top" type="submit" value="Reset password">
                    <i class="glyphicon glyphicon-play-circle"></i>Reset password
            </button>
            
        </form>
        <p><a href="/login">Back to Login</a></p>
    </div>
    <!-- JS SCRIPTS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollbar.min.js"></script>
    <script src="assets/plugins/modernizr/modernizr.custom.js"></script>
    <script src="assets/plugins/classie/classie.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="assets/js/custom.min.js"></script>
    <script src="assets/js/preloader.min.js"></script>
</div>
</body>
</html>
