<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/images/favicon.png" type="image/ico" />
    <title><%= title %> | Blockvest ICO</title>
    <!-- CSS -->
    <!-- Bootstrap -->  
    <link href="assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="assets/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet">
    <link href="assets/fonts/cryptocoins.css" rel="stylesheet">
    <!-- Simple line icons -->
    <link href="assets/css/simple-line-icons.css" rel="stylesheet">
    <!-- Font awesome icons -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome-animation.min.css" rel="stylesheet">
    <!-- Charts -->
    <link href="assets/plugins/rickshaw/rickshaw.min.css" rel="stylesheet">
    <!-- Custom Style -->
    <link href="assets/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/css/skin-colors/skin-blue.css" rel="stylesheet">
    <link href="assets/css/media.css" rel="stylesheet">
    <link href="assets/css/mycss.css" rel="stylesheet">
    <!-- Charts -->
    <link href="assets/plugins/rickshaw/rickshaw.min.css" rel="stylesheet">
    <link href="assets/plugins/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <style>
        body .panel{
            margin-bottom: 0px;
        }
    </style>
    
</head>